apiVersion: v1
kind: Service
metadata:
  name: {{SERVICE_NAME}}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: {{SERVICE_PORT}}
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{SERVICE_NAME}}
