apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
# Optional: Uncomment if you have sealed secrets to deploy
# - sealed-secrets.yaml
- pdb.yaml

patches:
- path: env.yaml
- path: serviceaccount-patch.yaml
  target:
    kind: ServiceAccount
    name: {{SERVICE_NAME}}
    version: v1
- path: ingress-patch.yaml
  target:
    group: networking.k8s.io
    kind: Ingress
    name: {{SERVICE_NAME}}
    version: v1
- path: ingress-vars.yaml
  target:
    group: networking.k8s.io
    kind: Ingress
    name: {{SERVICE_NAME}}
    version: v1

replacements:
- path: replacement.yaml

replicas:
  - name: {{SERVICE_NAME}}
    count: 3

commonLabels:
  environment: live
